<!DOCTYPE html>
<html lang="en" ng-app="group-by-weight" ng-controller="AppCtrl">
<head>
	<!-- base -->
	<base href="/" />
	<meta charset="UTF-8" />
	<title>Group By Weight</title><!-- 60 char max -->
	<meta name="description" content="Visualize how many items are in a group via a dynamically-sized output" /><!-- 160 char max -->

	<!-- mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon-precomposed" href="assets/img/touchicon.png?rev=1" type="image/png" />
	<link rel="shortcut icon" href="assets/img/touchicon.png?rev=1" type="image/png" />

	<!-- styles -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400" />
	<link rel="stylesheet" href="assets/css/main.min.css?rev=1" />
</head>
<body>

	<div id="flow" class="flex-row flex-nowrap">
		<div id="items" class="flex-column layout-scroll">
			<div class="flex-column layout-scroll">
				<div ng-repeat="item in items track by $index" ng-click="select($index, $event.shiftKey)" drag="{source: items, index: $index}" class="item flex-column" ng-class="{active: selected($index)}" ng-include="'item.html'">
				</div>
			</div>
			<footer>
				<input type="file" file-change="parseCSV($event.target.files)" accept="text/csv" />
			</footer>
		</div>
		<div id="inputs" class="flex-column">
			<div ng-repeat="group in groups | orderBy:'name' track by group.$id" id="input{{ group.$id }}" drag-drop="moveItem($data.source, $data.index, group.items)" class="input flex-row flex-justify-center flex-align-center" ng-style="{background: group.background || colors[group.$id]}">
				<h1 ng-bind="group.name"></h1>
			</div>
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="flex-column">
			<path ng-repeat="group in groups track by group.$id" ng-attr-fill="{{ group.background || colors[group.$id] }}" ng-attr-d="{{ weightByLength(group.$id) }}" />
		</svg>
		<div id="outputs" class="flex-column">
			<div ng-repeat="group in groups | orderBy:'-$len' track by group.$id" id="output{{ group.$id }}" ng-style="{background: group.background || colors[group.$id], 'flex-grow': group.$len}" class="output flex-column layout-scroll">
				<h1 ng-show="group.$len" ng-bind="len(group)"></h1>
			</div>
		</div>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="flex-column">
			<path ng-repeat="group in groups track by group.$id" ng-attr-fill="{{ group.background || colors[group.$id] }}" ng-attr-d="{{ weightBySum(group.$id) }}" />
		</svg>
		<div id="exputs" class="flex-column">
			<div ng-repeat="group in groups | orderBy:'-$sum' track by group.$id" id="exput{{ group.$id }}" ng-style="{background: group.background || colors[group.$id], 'flex-grow': abs(group.$sum)}" class="exput flex-column layout-scroll">
				<h1 ng-show="group.$sum" ng-bind="sum(group) | currency"></h1>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="item.html">
		<h2 ng-bind="item.name"></h2>
		<div class="flex-row">
			<div class="flex-grow" ng-bind="item.date"></div>
			<div ng-bind="item.amount | currency"></div>
		</div>
	</script>

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="//cdn.rawgit.com/gkindel/CSV-JS/v1.1.1/csv.js"></script>
	<script src="assets/js/main.min.js?rev=1"></script>
</body>
</html>
