// includes
@import 'boilerplate';

// tags
body {
	background: $lightest;
	color: $darkest;
	font: 15px/1.2 'Roboto', Helvetica, Arial, sans-serif;
}

#flow {
	height: 100%;
	border: solid 1px black;

	> .flex-column {
		height: 100%;
		flex-grow: 1;

		> * {
			flex-grow: 1;
			flex-shrink: 0;
			min-height: 5px;

			ul {
				padding: 0;
				margin: 0;
			}
		}
		&.unweighted {
			> * {
				flex-shrink: 1;
			}
		}
	}
	.flex-group {
		@extend .flex-column;
		flex-shrink: 1;
		overflow: auto;
	}
	#canvas {
		display: flex;
		flex-grow: 1;
	}
}